@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Playpen+Sans&family=Press+Start+2P&family=Tilt+Neon&display=swap');
*{
    padding: 0;
    margin: 0;
    flex-direction: column;
}
body {
    font-family: 'Tilt Neon';
    background-color: #394867;
    box-sizing: border-box;
}
.header1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo {
    font-size: 60px;
    display: contents;
    align-items: center;
}
.divs2 {
    display: flex;
    flex-direction:row;
    align-items: center;
}
.logo {
    width: 450px;
    height: 350px;
    border: 4px solid;
    border-radius: 20%;
}
.img1{
    width: 320px;
    height: 300px;
    border: 2px solid;
    border-radius: 10%;
}
.image {
    display: contents;
    justify-content: center;
}
.primera {
    text-align: center;
    font-size: 20px;
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    flex-direction:column;
    padding: 8px;
    column-gap: 16px;
}
.descripcion {
    text-align: center;
    padding-top: 20px;
    font-size: 22px;
}
.descripcion-p {
    text-align: left;
}
.footer {
    background-color:#212A3E;
    justify-content: center;
}
.footerM{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.divsFooter {
    font-size: 20px;
    margin: 5px;
}
.divsFooter h5 {
    margin: 4px;
    font-size: 18px;
}
.descripcion2 {
    background-color: #9BA4B5;
    text-align: center;
    padding-top: 20px;
    font-size: 22px;
}
